@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background: #0e0c0f;
	height: 100%;
}

body {
	background: linear-gradient(#0b0d19, #0e0c0f);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
